* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  background-color: rgba(48, 100, 211, 0.836);
  font-size: 30px;
}
button {
  padding: 10px;
  font-size: 20px;
}
